.score-group {
    display: inline-block;
    margin: 10px 20px;
}

.score-container {
    padding: 15px;
    box-shadow: 2px 2px 8px #00000020;
    display: inline-block;
}

.label {
    font-size:  24px;
    text-align: center;
    margin-bottom: 5px;
    font-weight: normal;
}

.score {
    min-width: 3ch;
    margin: 0;
    text-align: right;
    background-color: #0000000d;
    padding: 8px 5px;
}

body {
    font: 600 21px / 26px Source Sans Pro, sans-serif;
}